.about {
  margin: 20px;
  padding: 20px 0;
}

.about p {
  text-align: center;
  background-image: linear-gradient(to bottom right,#c5e5f7, #73c6ec);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 15px #483edb) drop-shadow(0 0 100px #483edb) contrast(2) brightness(1);
}

.feature-card {
  background: rgba(255, 255, 255, 0.2)!important;
  border-radius: 10px;
  transition: transform 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.feature-card:hover {
  transform: scale(1.05);
}

.aboutTitle, .keyFeaturesTitle {
  background-image: linear-gradient(to bottom right,#0369a1, #7dd3fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 15px #483edb) drop-shadow(0 0 50px #483edb) contrast(2) brightness(1);
}

.feature-title {
  color: aliceblue;
}

.feature-content {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5)!important;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}