.anime-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.carousel-item {
  width: 250px!important;
}

.anime-list-container {
  display: flex;
  overflow-x: hidden;
  margin-left: 30px;
  flex: 1;
  max-width: 100%;
}

.carousel-container {
  width: 100%;
}

.carousel-section {
  margin-top: 10px;
}

.carousel-heading {
  margin-top: 10px;
}

.carousel-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.anime-item, .manga-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
}

.anime-item img, .manga-item img {
  border-radius: 5%;
  max-width: 100%;
  height: 300px;
  max-height: 300px; /* Set a maximum height for the images */
  object-fit: cover;
}

.anime-item a, .manga-item a {
  text-decoration: none;
}

.anime-item h3, .manga-item h3 {
  margin: 8px;
  height: 20px;
  font-size: 12.32px;
  text-align: center;
}

.noAnime, .loading, .searchContentError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-image: linear-gradient(to bottom right, #0369a1, #7dd3fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 15px #483edb) drop-shadow(0 0 50px #483edb) contrast(2) brightness(2);
}

.slick-prev {
  left: -25px!important;
}

.slick-next {
  right: -25px!important;
}

.slick-next, .slick-prev {
  z-index: 2!important;
}

.hr-divider {
  margin: 20px;
  height: 1px;
  border: none;
  background: linear-gradient(to right, transparent, #87cefa, transparent);
  opacity: 0.25;
}

h2, .ourPicksTitle, .currAniTitle, .trendingAniTitle, .recommendedMangaTitle, .animeFactsTitle,
.upcomingAniTitle {
  background-image: linear-gradient(to bottom right,#0369a1, #7dd3fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 15px #483edb) drop-shadow(0 0 50px #483edb) contrast(2) brightness(1);
}

h3 {
  color: #ccc;
}

.ourPicksTitle {
  border-left: 4px solid rgb(100, 184, 233);
  padding-left: 10px;
  margin: 5px!important;
  margin-left: 15px!important;
}

.top-picks-section {
  padding: 40px 40px 0 40px;
}

.top-picks-carousel div button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.top-picks-carousel div button.slick-arrow.slick-prev {
  margin-left: 30px;
}

.top-picks-carousel div button.slick-arrow.slick-next {
  margin-right: 30px;
}

.top-picks-carousel div button.slick-arrow.slick-prev::before,
.top-picks-carousel div button.slick-arrow.slick-next::before {
  color: black;
  font-size: 30px;
}

.top-picks-item {
  position: relative;
  width: 100%;
  height: 365px;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 20px;
}

.top-picks-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
}

.top-picks-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  border-radius: 16px;
}

.top-picks-wrapper {
  margin: -20px;
}

.top-picks-content {
  margin: 30px;
  padding: 50px 50px 0 50px;
}

@media screen and (max-width: 350px) {
  .top-picks-content {
    margin: 30px;
    padding: 0;
  }
}

.top-picks-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
  text-align: inherit;
  filter: drop-shadow(0 0 15px #483edb) drop-shadow(0 0 50px #483edb) contrast(2) brightness(1);
}

.top-picks-description {
  font-size: 0.875rem;
  color: #ccc;
  margin-bottom: 16px;
}

.top-picks-link {
  font-size: 0.75rem;
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 9999px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.top-picks-link:hover {
  background-color: white;
  color: black;
}

.anime-facts-section {
  text-align: center;
}

.anime-fact, .anime-fact-item {
  color: #ccc;
  margin: 10px;
  padding: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  position: relative;
  bottom: 0;
  width: 92%;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footer-right {
  color: #ccc!important;
  margin-right: 70px!important;
}

.animeta-text {
  background-image: linear-gradient(to bottom right,#0369a1, #7dd3fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: brightness(2);
  font-size: 24px;
  margin-right: 80px!important;
  margin-left: 50px!important;
}

@media screen and (max-width: 700px) {
  .footer {
    display: inline-block;
    padding: 5px auto;
    width: 100%;
  }
  .footer-right {
    padding: 5px;
    margin-right: 0px!important;
  }
  .animeta-text {
    padding: 5px;
    margin-right: 0px!important;
    margin-left: 0px!important;
  }
}