.forgot-password-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden; /* Hide overflowing content */
}

.forgot-pass-menu {
  background: rgba(255, 255, 255, 0.5)!important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 13px -6px, rgba(0, 0, 0, 0.14) 0px 20px 31px 3px, rgba(0, 0, 0, 0.12) 0px 8px 38px 7px;
  padding: 25px;
}

.forgot-password-heading {
  padding: 10px;
}

.reset-content {
  z-index: 1;
}
  
.ResetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.reset-message {
  color: red;
}

.back-to-login-button {
  color: aliceblue!important;
  background-image: linear-gradient(to bottom right,#1c92d1, #7dd3fc);
}