.search-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .search-results {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .search-results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .search-results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .search-results {
    grid-template-columns: repeat(1, 1fr);
  }
}

.anime-results,
.manga-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anime-results img,
.manga-results img {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 10px;
}

.manga-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.aniresult-img,
.manga-img {
  border-radius: 5%;
  width: 215px;
  max-width: 215px;
  height: 300px;
  max-height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 950px) {
  .aniresult-img, .manga-img {
    max-width: 180px;
  }
}

.aniresult-item,
.manga-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anilist-genres-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  width: 100%;
  color: white;
}

.genres-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.genre-item {
  flex-basis: calc(25% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 40px;
  padding: 0 10px;
  border: none!important;
  border-radius: 5px;
  background-color: #1a202c!important;
  cursor: pointer;
  transition: all 0.3s;
}

@media screen and (max-width: 381px) {
  .anilist-genres-container {
    flex-direction: column;
  }

  .genre-item {
    flex-basis: calc(50% - 10px);
    margin: 5px;
    height: 40px;
  }
}

.genre-item:hover {
  border-color: #7dd3fc;
  box-shadow: 0 0 10px #7dd3fc;
  background-color: rgba(125, 211, 252, 0.1);
}

.selected-genre {
  background-color: #8A4FFF;
  color: white;
  border-color: #7dd3fc;
  box-shadow: 0 0 10px #7dd3fc;
}

/* Add a highlight effect when the genre is clicked */
.active-genre {
  background-color: #8A4FFF;
  color: white;
  border-color: #7dd3fc;
  box-shadow: 0 0 10px #7dd3fc;
}

/* Error message styles */
.searchGenreError, .searchContentError {
  background-image: linear-gradient(to bottom right,#0369a1, #7dd3fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 15px #483edb) drop-shadow(0 0 50px #483edb) contrast(2) brightness(2);
}

.searchAnimeItem a, .searchMangaItem a {
  text-decoration: none;
}

.aniResultsTitle, .mangaResultsTitle, .genresTitle {
  background-image: linear-gradient(to bottom right,#0369a1, #7dd3fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 15px #483edb) drop-shadow(0 0 50px #483edb) contrast(2) brightness(1);
}